@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}
.peeps-column__title, h2, h1 {
  font-family: "Montserrat", Verdana, sans-serif;
}

.nav-list__item, .button, p, h4 {
  font-family: "Open Sans", Verdana, sans-serif;
}

h1 {
  font-size: 97px;
  font-style: normal;
  font-weight: 700;
  line-height: 87px;
}

h2 {
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.button {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 7px 12px 11px 28px;
  background: #F7859C;
  border-radius: 12px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header__logo {
  background-image: url("../img/logo.svg");
  width: 69px;
  height: 74px;
  margin-left: 66px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: #ffffff;
  padding: 18px 65px 17px 65px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__buttons {
  margin-right: 50px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.layout-2-column {
  display: flex;
  align-items: center;
  column-gap: 166px;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 90px;
  margin-left: 230px;
}

.promo__wrapper {
  display: flex;
}

.promo__content {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  margin-left: 448px;
  margin-top: 90px;
}

.promo__title {
  width: 559px;
  color: #222222;
  text-align: center;
  margin: 0;
}

.promo__subtitle {
  color: #222222;
  margin: 0;
}

.promo__text {
  width: 429px;
  color: #404756;
  margin: 0;
  margin: 45px 0 29px 0;
  text-align: center;
}

.promo__img {
  position: relative;
  z-index: 2;
  margin-left: 238px;
  margin-top: -172px;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  color: #222222;
  list-style: none;
  padding: 0 30px;
  cursor: pointer;
}

.peeps__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.peeps__subtitle {
  color: #222222;
  margin: 0;
  margin-top: 45px;
}

.peeps__title {
  margin: 0;
}

.peeps-column__content {
  width: 374px;
  padding: 28px 0 32px;
  border-bottom: 0.5px solid rgba(64, 71, 86, 0.6);
  margin: 0;
}

.peeps-column__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  margin-bottom: 17px;
}

.peeps-column__text {
  width: 332px;
  color: #404756;
  margin: 0;
}

.peeps__container {
  display: flex;
  flex-direction: column;
}

.peeps__img {
  margin-left: 177px;
}

.prime__container {
  background: #FBF1E6;
  padding: 0 230px 0 230px;
}

.prime__subtitle, .prime__title {
  margin: 0;
}

.prime__title {
  margin-bottom: 68px;
}

.prime-card {
  width: 980px;
  padding-top: 67px;
  border-top: 1px solid rgba(64, 71, 86, 0.6);
  display: flex;
  column-gap: 226px;
}

.prime-card__title, .prime-card__subtitle, .prime-card__text {
  margin: 0;
}

.prime-card__text {
  width: 336px;
}

/*# sourceMappingURL=style.css.map */
