@charset "UTF-8";
@media screen and (max-width: 500px) {
  .logo {
    width: 100px;
  }
}
.employee__title, .peeps-column__title, td, h3, h2, h1 {
  font-family: "Montserrat", Verdana, sans-serif;
}

.nav-list__item, .button, p, h4 {
  font-family: "Open Sans", Verdana, sans-serif;
}

h1 {
  font-size: 97px;
  font-style: normal;
  font-weight: 700;
  line-height: 87px;
}

h2 {
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

td {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.button {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 7px 12px 11px 28px;
  background: #F7859C;
  border-radius: 12px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header__logo {
  background-image: url("../img/logo.svg");
  width: 69px;
  height: 74px;
  margin-left: 66px;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_circle {
  background-image: url("../img/roadmap/small-circle.svg");
  width: 34px;
  height: 36px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: #ffffff;
  padding: 18px 65px 17px 65px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  margin-right: 50px;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.layout-2-column {
  display: flex;
  align-items: center;
  column-gap: 166px;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 90px;
  margin-left: 230px;
}

.layout-3-column {
  display: grid;
  grid-template-columns: repeat(3, 294px);
  justify-content: center;
  column-gap: 48px;
  margin-top: 61px;
  row-gap: 70px;
  padding-bottom: 116px;
}

.roadmap__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.roadmap__container {
  padding: 123px 230px 0 230px;
}

.roadmap-card {
  display: flex;
  align-items: flex-start;
  margin-top: 106px;
}

.roadmap-card__content {
  background-image: url("../../img/roadmap/IMAGE.svg");
  background-repeat: no-repeat;
  height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 85px 0px 75px;
}

.roadmap__content {
  text-align: center;
}

.roadmap__subtitle, .roadmap__title {
  margin: 0;
}

.roadmap__text {
  width: 360px;
  margin: 0;
  margin-bottom: 28px;
}

.roadmap__img {
  position: relative;
  margin-left: 88px;
  margin-top: 90px;
}

.bigcircle__img {
  position: absolute;
  margin-top: 105px;
  margin-left: -70px;
}

.sitting__img {
  position: absolute;
}

.roadmap-card__title {
  margin: 0;
  margin: 9px 0 23px 0;
}

.big-circle_1 {
  position: absolute;
  margin-left: 341px;
  margin-top: -331px;
}

.img_2 {
  margin-left: 67px;
}

.promo__wrapper {
  display: flex;
}

.promo__content {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  margin-left: 448px;
  margin-top: 90px;
}

.promo__title {
  width: 559px;
  color: #222222;
  text-align: center;
  margin: 0;
}

.promo__subtitle {
  color: #222222;
  margin: 0;
}

.promo__text {
  width: 429px;
  color: #404756;
  margin: 0;
  margin: 45px 0 29px 0;
  text-align: center;
}

.promo__img {
  position: relative;
  z-index: 2;
  margin-left: 238px;
  margin-top: -172px;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  color: #222222;
  list-style: none;
  padding: 0 30px;
  cursor: pointer;
}

.peeps__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.peeps__subtitle {
  color: #222222;
  margin: 0;
  margin-top: 45px;
}

.peeps__title {
  margin: 0;
}

.peeps-column__content {
  width: 374px;
  padding: 28px 0 32px;
  border-bottom: 0.5px solid rgba(64, 71, 86, 0.6);
  margin: 0;
}

.peeps-column__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  margin-bottom: 17px;
}

.peeps-column__text {
  width: 332px;
  color: #404756;
  margin: 0;
}

.peeps__container {
  display: flex;
  flex-direction: column;
}

.peeps__img {
  margin-left: 177px;
}

.prime__container {
  background: #FBF1E6;
  padding: 133px 230px 116px 230px;
}
.prime-card .prime__container:nth-child(5) {
  border-bottom: 1px solid rgba(64, 71, 86, 0.6);
}

.prime__subtitle, .prime__title {
  margin: 0;
}

.prime__title {
  margin-bottom: 68px;
}

.prime-card {
  width: 980px;
  padding: 74px 0 67px 0;
  border-top: 1px solid rgba(64, 71, 86, 0.6);
  display: flex;
  column-gap: 250px;
}

.prime-card__title, .prime-card__subtitle, .prime-card__text {
  margin: 0;
}

.prime-card__subtitle {
  margin: 32px 0 28px 0;
}

.prime-card__text {
  width: 336px;
}

.tool {
  display: flex;
  column-gap: 10px;
  margin-right: 149px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.about-us {
  padding: 98px 0;
}

.about-us__wrapper {
  background: #FDDBE2;
}

.about-us__content {
  text-align: center;
  padding-top: 141px;
}

.employee {
  width: 294px;
  height: 406px;
  text-align: center;
}

.about-us__subtitle, .about-us__title {
  margin: 0;
}

.employee__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #222222;
  margin: 0;
}

.employee__name {
  margin: 0;
}

.employee__content {
  margin-top: 21px;
}

.feedback__wrapper {
  background: #ffffff;
  background-image: url("../../img/roadmap/bigcircle.png");
  background-repeat: no-repeat;
}

table {
  width: 979px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(64, 71, 86, 0.6);
}

td {
  border-top: 1px solid rgba(64, 71, 86, 0.6);
  padding: 33px 0; /* Поля вокруг содержимого таблицы */
}

.feedback__subtitle, .feedback__title {
  margin: 0;
}

.feedback__title {
  margin-bottom: 78px;
}

.feedback__subtitle {
  margin-bottom: 4px;
}

/*# sourceMappingURL=style.css.map */
