// .prime__wrapper {
//     padding: 0 230px 0 230px;
// }

.prime__container {
    background: #FBF1E6;
    padding: 0 230px 0 230px;
}

.prime__subtitle, .prime__title {
    margin: 0;
}
.prime__title {
    margin-bottom: 68px;
}
.prime-card {
    width: 980px;
    padding-top: 67px;
    border-top: 1px solid rgba(64, 71, 86, 0.6);
    display: flex;
    column-gap: 226px;
   
}
.prime-card__title, .prime-card__subtitle, .prime-card__text {
    margin: 0;

}
.prime-card__text {
    width: 336px;
}