

.prime__container {  
    background: #FBF1E6;
    padding: 133px 230px 116px 230px;
    .prime-card
    &:nth-child(5) {
        border-bottom: 1px solid rgba(64, 71, 86, 0.6);
    }
}

.prime__subtitle, .prime__title {
    margin: 0;
}
.prime__title {
    margin-bottom: 68px;
}
.prime-card {
    width: 980px;
    padding: 74px 0 67px 0;
    border-top: 1px solid rgba(64, 71, 86, 0.6);
    display: flex;
    column-gap: 250px;
   
   
}
.prime-card__title, .prime-card__subtitle, .prime-card__text {
    margin: 0;

}
.prime-card__subtitle {
    margin: 32px 0 28px 0;
}
.prime-card__text {
    width: 336px;
}